*{
    margin: 0;
    padding: 0;
}



body{
    font-family: Arial, Helvetica, sans-serif;
}


.container{
    padding-left: 100px; 
    padding-right: 100px;
    margin-left: auto;
    margin-right: auto;
}

.ital{
    margin-left: 15px;
    color: #fac031;
    font-family: mv boli;
    line-height: 22px;
    font-size: 70px;
}
.ital2{
    margin-left: 15px;
    color: #fac031;
    font-family: mv boli;
    line-height: 22px;
    font-size: 70px;
    text-decoration: underline;
}
.big{
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}   


/* start header */
.header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    background-color: #fff;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    padding-top: 5px;
    padding-bottom: 10px;
}
.header .image img{
    width: 100px;
    height: 50px;
    cursor: pointer;
}
.header ul{
    display: inline ;
}
.header li{
    display: inline ;
    margin-right: 25px;
}
.header li a{
    color: black;
    opacity: .9;
    text-decoration: none;
    position: relative;
}
.header li a:hover{
    color: #fac031;
}
.header li a::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: #fac031;
    transition: .3s;
    position: absolute;
    bottom: -10px;
    left: 0;
}
.header li a:hover::after{
    width: 100%;
}
.header .icons i{
    margin-left: 9px;
    font-size: 20px;
    cursor: pointer;
}
.header .icons i:hover{
    color: #fac031;
}

/* end header */
/* start section1 */
.section1{
    margin-top: 90px;
    position: relative;
}
.section1 .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section1 .container .text{
    display: flex;
    flex-direction: column;
}

.section1 .container .text h1{
    font-size: 60px;
}
.btn{
    background-color: #fac031;
    color: #fff;
    padding: 10px;
    width: 8%;
    border-radius: 10px;
    position: absolute;
    bottom: 50px;
    left: 130px;
    cursor: pointer;
}

.btn a{
    color: #fff;
    text-decoration: none;
    margin-right: 6px;
}
/* end section1 */
/* start section2 */
.section2{
    margin-top: 90px;
    position: relative;
}
.section2 .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section2 .container .image img{
    width: 800px;
    height: 620px;
}
.section2 .container .text{
    display: flex;
    flex-direction: column;
    position: relative;
}
.section2 .container .text .firsth1{
    font-size: 60px;
}
.section2 .container .text .btn{
    bottom: -100px;
    left: 3px;
    width: 17%;
}
/* end section2 */
/* start section3 */
.section3{
    margin-top: 90px;
    position: relative;
    margin-bottom: 90px;

}
.section3 .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px,1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
}
.section3 .container .box{
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 10px;
    overflow: hidden;
    position: relative;
}
.section3 .container .box .heart{
    position: absolute;
    top: 15px;
    right: 15px;
    box-shadow: 0 0 0 10 M#fff;
    filter: blur(30px);
    transition: 0.5s;
    transform: translateX(100px);
    z-index: 10;
}
.section3 .container .box:hover .heart{
    filter: blur(1px);
    font-size: 1.3em;
    transform: translate(-40px,20px);
    font-size: 30px;
}
.section3 .container .box:hover .heart:hover{
    color: #fac031;
}
.section3 .container .box .image{
    overflow: hidden;
}
.section3 .container .box .image img{
    width: 100%;
    height: 100%;
    transition: .3s;
}
.section3 .container .box .image:hover img{
    transform: scale(1.2);
}
.section3 .container .box h2{
    color: #fac031;
    margin-bottom: 20px;
    margin-top: 10px;
}
.section3 .container .box .p1{
    text-align: center;
    margin-bottom: 7px;
}
.section3 .container .box .p2{
    text-align: center;
    margin-bottom: 7px;
    font-weight: bold;
}
.section3 .container .box .stars{
    color: #fac031;
}
.section3 .container .box .order{
    background-color: #000;
    color: #fff;
    padding: 10px ;
    width: 40%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}
/* end section3 */
/* start section4 */
.section4{
    margin-bottom: 90px;
}
.section4 .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
    gap: 10px;
}
.section4 .container .box{
    margin-right: 30px;
    width: 100%;
    position: relative;
    text-align: center;
    overflow: hidden;
    border-radius: 5px;
}
.section4 .container .box:hover .text{
    display: block;
    background-color: rgb(0,0,0,.6);
    height: 100%;
}
.section4 .container .box img{
    width: 100%;
}
.section4 .container .box .text{
    position: absolute;
    top: 0px;
    padding-top: 50px;
    display: none;
}
.section4 .container .box .text p{
    margin-top: 30px;
    color: #fff;
    margin-bottom: 30px;
    
}
.section4 .container .box .text .order{
    background-color: #fac031;
    color: #000;
    padding: 10px;
    width: 0%;
    border-radius: 10px;
    cursor: pointer;
}
/* end section4 */
/* start section5 */
.section5 {
    margin-bottom: 90px;
}

.section5 .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    padding: 100px;
    gap: 15px;
}

.section5 .container .box {
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    position: relative;
}

.section5 .container .box:hover .icons {
    font-size: 20px;
    transition: .5s;
}

.section5 .container .box:hover .image {
    transform: translateY(-70px);
    transition: .4s;
}

.section5 .container .box:hover h2 {
    transform: translateY(-40px);
    transition: .5s;
}

.section5 .container .box:hover .stars {
    transform: translateY(-20px);
    transition: .5s;
}

.section5 .container .box .image {
    transition: 0.5s;
}

.section5 .container .box img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 5px #d2b670 solid;
}

.section5 .container .box .stars {
    color: #fac031;
    margin-bottom: 5px;
    transition: 0.3s;
}
.section5 .container .box h2 {
    transition: 0.3s;
}

.section5 .container .box .icons {
    font-size: 0;
    margin-bottom: 5px;
    transition: 0.5s;
}

.section5 .container .box p {
    text-align: center;
}
/* end section5 */
/* start section6 */
.section6{
    margin-bottom: 90px;
}
.section6 .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
.section6 .container img{
    width: 600px;
    height: 650px;
}
.section6 .container form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: relative;
}
.section6 .container form input{
    width: 300px;
    height: 35px;
    padding: 0 10px;
    border: 2px solid #cccccc;
    background: #eeeeee;
    outline: none;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-top: 7px ;
}

.section6 .container form a{
    position: absolute;
    left: 10px;
    bottom: -60px;
    text-decoration: none;
    color: #fff;
    background-color: #fac031;
    border-radius: 10px;
    padding: 10px 20px;
}

/* end section6 */
/* start section7 */
.section7{
    margin-bottom: 90px;
}
.section7 .container{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 15px;
}
.section7 .container .box{
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    width: 290px;
    height: 290px;
    text-align: center;
    transition: .6s;
    padding-bottom: 10px;
}
.section7 .container .box:hover{
    border-radius: 10px;
    height: 290px;
    transition: .6s;
}
.section7 .container .box:hover img{
    transform: translateY(-60px);
    border-radius: 10px;
    transition: .6s;
}
.section7 .container .box:hover .text{
    transform: translateY(-50px);
    transition: .6s;
    opacity: 1;
}
.section7 .container .box .text{
    position: relative;
    transform: translateY(-100px);
    z-index: -1;
    opacity: 0;
    padding: 0px 10px;
}
.section7 .container .box h2{
    color: #fac031;
    margin-bottom: 10px;
}
.section7 .container .box p{
    margin-bottom: 10px;
}

.section7 .container img{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    transform: translateY(33px);
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    transition: .5s;
}
/* end section7 */
/* start footer */
.footer {
    background-color: #fac031;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18%, 1fr));
    gap: 20px;
    position: relative;
    overflow: hidden;
    padding: 50px 100px 100px;
}

.footer>div {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.footer>div .h {
    font-weight: 800;
    font-size: 1.4em;
    color: #4b3b3b;
}

.footer>div .con {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: left;
}

.footer>div .con a {
    text-decoration: none;
    color: #333;
    margin: -2px 0;
    position: relative;
    overflow: hidden;
    width: fit-content;
    transition: 0.2s;
}

.footer>div .con span {
    color: #333;
}

.footer>div .con i {
    color: #333;
    margin: 5px 0;
}

.footer>div .con i:hover {
    color: #eee;
}

.footer a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    border-radius: 3px;
    background-color: #eee;
    bottom: 0;
    transition: 0.5s;
    left: -1px;
    transform: translateX(-120%);
}

.footer>div .con a:hover {
    color: #eee;
}

.footer a:hover::before {
    transform: translateX(0%);
}

.footer .created {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 800;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* width: 100%; */
    overflow: hidden;
    padding: 10px 0;
}

.footer .created span:nth-child(2) {
    color: #4b3b3b;
}

.footer .created::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 3px;
    background-color: #eee;
    bottom: 0px;
    transition: 0.5s;
    left: -1px;
    transform: translateX(-120%);
}

.footer .created:hover::before {
    transform: translateX(0%);
}

/* end footer */